
<div class="row">

        <!-- Grid column -->
        <div class="col-md-6">
      
          <ul class="nav peach-gradient lighten-3 py-4 mb-r font-weight-bold z-depth-1">
            <li class="nav-item">
              <a class="nav-link active white-text" href="#!">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link white-text" href="#!">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link white-text" href="#!">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link white-text" href="#!">Link</a>
            </li>
          </ul>
      
          <ul class="nav purple-gradient py-4 mb-r font-weight-bold z-depth-1">
            <li class="nav-item">
              <a class="nav-link active white-text" href="#!">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link white-text" href="#!">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link white-text" href="#!">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link white-text" href="#!">Link</a>
            </li>
          </ul>
      
        </div>
        <!-- Grid column -->
      
        <!-- Grid column -->
        
        <!-- Grid column -->
      
      </div>